.main{
    width:100%;
    display: grid;
    grid-template-columns: 20% 80%;
}
.left{
    background-color: rgb(17, 34, 34);

}
.logo{
    background-color: rgb(185, 180, 180);
    border-radius: 100px;
    height:150px;
    text-align: center;
    padding-top: 20px;
    width:60%;
    margin:auto;
    margin-top:30px;
   
}
.menu{
    background-color: #949392;
}
.menu ul{
    width:100%;
    padding: 0;
}
.menu li{
    padding: 8px;
    margin: 1px;
    height:25px;
    background-color:black;
    color: #ffffff;
    text-align: center;
    list-style: none;
}
/* .logic{
    background-color: rgb(216, 153, 76);
}*/
/* .right{
    background-color: rgb(112, 77, 23);
    
}  */
.bgpic{
    width: 100%;
    height:500px;
}
.stxtover{
    width:50%;
    position: absolute;
    top:14%;
    text-align: center;
    left: 35%;
    color:rgb(5, 2, 2);
}

.btn1{
    background-color:rgb(81, 240, 232);
    padding: 10px;
    border:0;
    border-radius: 10px;
}
.con{
   width:85%;
   margin: auto;
   margin-top: 80px;
}
/* .con1{
    background-color: rgb(35, 243, 129);
} */
.about{
    background-color: #e9b144;
    color: white;
    position:relative;
    top: -8px;
    width: 20%;
    padding: 30px;
    text-align: center;
}
.gal{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
    text-align: center;
}
.gal1{
    width:30%;
}
.gal2{
    width:30%;
}
.gal3{
    width:30%;
}
.fur{
   display: flex;
   width:100%;
}
.furl{
    width: 70%;
}
.furr{
    width: 30%;
}
.service{
    background-color:blueviolet;
    color: white;
    /*position:relative;*/
    width: 20%;
    padding: 30px;
    text-align: center;
}
.cols{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(185, 180, 180);
    margin-top: 10px;
    text-align: center;
}
.c1{
    width:30%;
    padding: 30px 0px;
}
.c2{
    width:30%;
    padding: 30px 0px;
}
.c3{
    width:30%;
    padding: 30px 0px;
}
.exp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.expl{
    width: 65%;
    margin-right: 5%;
}
.expr{
    width:30%;
   
}
.i1{
    background: linear-gradient(to right,teal 90%,rgb(185, 180, 180) 10%);
    padding: 2px;
    margin-top:15px;
    border-radius:5px ;
}
.i2{
    background: linear-gradient(to right, teal 80%,rgb(185, 180, 180) 20%);
    padding: 2px;
    margin-top:15px;
    border-radius:5px ;
}
.i3{
    background: linear-gradient(to right, teal 75%,rgb(185, 180, 180) 25%);
    padding: 2px;
    margin-top:15px;
    border-radius:5px ;
}
.i4{
    background: linear-gradient(to right, teal 65%,rgb(185, 180, 180) 35%);
    padding: 2px;
    margin-top:15px;
    border-radius:5px ;
}
.portfolio{
    color: white;
    background-color: palegreen;
    /*position:relative;*/
    width: 20%;
    padding: 30px;
    text-align: center;  
}
.gal2{
    display: grid;
    width:100%;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    margin-top: 50px;
    color: palegreen;
    text-align: center;
}
.btn2{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
#b2{
    padding: 15px 20px;
    color: white;
    background-color: palegreen;
    border: none;
}
.contact{
    color: white;
    background-color: rgb(235, 70, 98);
    /*position:relative;*/
    width: 20%;
    padding: 30px;
    text-align: center;
}
.map{
   padding: 10px 0px;
}
.text{
    display: grid;
    grid-template-columns: auto auto auto;
}
.message{
    width:100%;
    padding-bottom: 40px;
}
.icon{
    background-color: #72797e;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cpyryt{
    background-color: #313639;
    color: #949da2;
    height:70px;
    display: flex;
    align-items: center;
    justify-content:center;
}